body {
  background-color: #EEE5CE;
  font-size: 4em;
  font-family: BookSanity;
  text-rendering: optimizeLegibility;
  width: 100%;
}

nav * {
  font-family: MrJeeves;
  font-weight: 800;
  font-size: 4rem;
  color: #58180D;
}

nav select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  background: inherit;
  border: none;
  cursor: pointer;
}

.attack {
  width: 100%;
  height: 12.5rem;
  display: -webkit-flex;
  display: flex;
  border-bottom: 2px solid #58180D;
  justify-content: space-between;
  margin-top: 1rem;
}

.text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.name {
  font-weight: bold;
  font-size: 3rem;
}

.description {
  display: none;
}

.buttons {
  margin-left: auto;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.conditions {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  max-height: 100%;
  align-content: flex-start;
}

.condition {
  cursor: pointer;
  font-family: MrJeeves;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-right: 0.2rem;
  padding: 0.5rem;
  height: 1em;
  color: #58180D;
  border: 2px solid #58180D;
  border-radius: 20px;
  align-content: flex-start;
  text-align: center;
  white-space: nowrap;
}

.active {
  color: #EEE5CE;
  background-color: #58180D;
}

.action {
  cursor: pointer;
  font-size: 8rem;
  height: 8rem;
  border: 10px solid #58180D;
  border-radius: 8rem;
  color: #EEE5CE;
  background-color: #58180D;
  margin: 1rem 0.5rem;
}


#log {
  display: none;
}

.result {
  position: fixed;
  width: 100%;
  height: min-content;
  min-height: 6rem;
  font-size: 4rem;
  bottom: 0;
  text-align: center;
  background: white;
  border-top: 6px solid #58180D;
  padding-top: .2rem;
}
