body {
  background-color: #EEE5CE;
  font-size: 4rem;
  font-family: BookSanity;
  text-rendering: optimizeLegibility;
  width: 100%;
  color: #58180D;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.button {
  cursor: pointer;
  border: 10px solid #58180D;
  border-radius: 2rem;
  color: #58180D;
  margin: 0rem 0.25rem;
  /* disable android chrome press highlighting */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.button.on {
  background-image: none;
  background-color: #58180D;
  color: #EEE5CE;
}

.button.off:active {
  background-image: none;
  background-color: #58180D;
  color: #EEE5CE;
}

.modal {
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out;
  position: fixed;
  top: 3%;
  left: 3%;
  width: 94%;
  max-height: 94%;
  background-color: #EEE5CE;
  border: 10px solid #58180D;
  border-radius: 2rem;
  overflow-y: scroll;
}

.modal.on  { opacity: 1; z-index: 20;}
.modal.off { opacity: 0; z-index: -1;}

.modal .title {
  padding-right: 9rem; /* leave space for .close */
  min-height: 8rem;
  font-weight: bold;
  font-size: 6rem;
}

.modal .close {
  position: absolute;
  right: 0;
  top: -0.5rem;
  color: #58180D;
  background-color: #EEE5CE;
  border-color: #58180D;
  border-radius: 0 0 0 2rem;
  border-style: solid;
  border-width: 0 0 10px 10px;
  padding: 2rem 3rem;
  z-index: 11;
}

.modal .close:active {
  color: #EEE5CE;
  background-color: #58180D;
}

/* style lists in modals for drop down menu */
.modal li {
  width: 100%;
  color: #58180D;
  border-bottom: 1px solid #58180D;
  padding: 1rem;
  font-size: 6rem;
}

.modal li.group {
  background-color: #58180D;
  color: #EEE5CE;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
}

#header {
  position: sticky;
  top: 0;
}

#content {
  overflow-y: scroll;
}

section {
  width: 100%;
}

/* character bar styles */
#selector {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#selector .selector .name {
  font-family: MrJeeves;
  font-weight: 800;
  color: #58180D;
  font-size: 6.5rem;
  padding: 1rem;
}

#character .condition-menu .button {
  padding: 1rem 2rem;
  font-size: 4rem;
  display: inline-block;
  vertical-align: bottom;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
  margin-right: 0;
}



/* conditions row styles */
#conditions {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  position: relative;
}
.condition {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}

.condition:after {
    position: absolute;
    content: 'x';
    top: -1rem;
    right: 0.5rem;
}

/* roll type styles */
#type {
  display: flex;
  border-bottom: 10px solid #58180D;
  padding-bottom: 0;
}

#type .button {
  padding: 1rem;
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* attacks styles*/
#filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1rem 0;
}

#filters .filter {
  padding: 1rem;
}

.attack .summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.attack .summary .name {
  font-weight: bold;
}

.attack .summary .button {
  font-size: 4rem;
  padding: 1rem 1rem;
  width: 18rem;
  text-align: center;
}

.attack.modal {
  height: 94%;
}

.attack .details {
  padding: 1rem;
}

.attack .details .name {
  font-weight: bold;
  position:relative;
}


.details > div {
  padding: 0.5rem 0;
}

.modal .detail {
  color: black;
}

.modal .detail .header {
  font-style: italic;
}

.details .option {
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.details .option .info {
  font-style: italic;
  margin-right: 1rem;
}

/* vantage styles */
.vantage {
  padding: 2rem 0;
}

.vantage > span {
  padding: 1rem;
  display: inline-block;
  text-align: center;
}
.vantage .advantage {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 5px;
  width: 24%;
}
.vantage .disadvantage {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 5px;
  width: 24%;
}
.vantage .extra {
  width: 49%;
}
.vantage .disabled {
  color: grey;
  border-color: grey;
}


/* roll styles */

.roll {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 5rem;
  padding: 1rem;
}

.roll .name {
  font-weight: bold;
}

.roll .button {
  display: inline-block;
  padding: 2rem;
  width: 20rem;
  text-align: center;
}

.roll-menu.modal {
  height: 94%;
  padding: 1rem;
}

/* skill styles */

.roll.skill {
  font-size: 4rem;
  padding: 0.5rem 1rem;
}

.skill .button {
  padding: 1rem;
  width: 20rem;
}

